.about-us {
    text-align: center;
    margin-inline: 15px;
    padding-bottom: 15px;

    &__title {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        color: $color-header-icons-titles;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 15px;


    }

    &__member--left {

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width:768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            text-align: left;

            .about-us__container-info {
                grid-column-start: 2;
                grid-column-end: 4;
                margin-right: 44px;

                @media (min-width:1200px) {
                    margin-right: 300px;
                }
            }

            .about-us__container-image {
                margin-left: 44px;
                margin-bottom: 40px;

                @media (min-width:1200px) {
                    margin-left: 135px;
                }

            }
        }
    }

    &__member--right {

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width:768px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            text-align: right;

            .about-us__container-image {
                grid-column: 3 / 4;
                margin-right: 44px;
                margin-bottom: 40px;

                @media (min-width:1200px) {
                    margin-right: 135px;
                }
            }

            .about-us__container-info {
                grid-column: 1 / 3;
                grid-row: 1;
                margin-left: 44px;

                @media (min-width:1200px) {
                    margin-left: 300px;
                }
            }

            .about-us__container-social-media {
                justify-content: flex-end;
                margin-right: 15px;
            }

            .about-us__name-member {
                margin-right: 15px;
            }
        }



    }

    &__container-image {

        width: 200px;
        height: 200px;
        border-radius: 8px;
        border: solid 5px lightgray;
        margin-top: 30px;

        @media (min-width:1200px) {
            width: 278px;
            height: 278px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 5px;

        @media (min-width:768px) {}

    }



    &__name-member {
        font-size: 20px;
        margin-top: 15px;
        font-weight: normal;

        @include text-names;

        @media (min-width:768px) {
            margin-left: 15px;
        }
    }

    &__description {
        color: $color-paragraph;
        margin-top: 1rem;
        margin-left: 15px;
        margin-right: 15px;
        @include text-paragraphs;
    }

    &__container-social-media {
        @media (min-width:768px) {
            display: flex;
            margin-left: 15px;
        }
    }

    &__social-media {
        color: $color-header-icons-titles;
        display: flex;
        gap: 0.5em;
        justify-content: center;
        margin-top: 35px;
        margin-bottom: 15px;
        list-style: none;
        font-size: x-large;

        @media (min-width:768px) {
            margin-top: 20px;

        }
    }

    &__favicon {
        color: $color-header-icons-titles;
    }


}

ul.about-us__social-media li::before {
    content: '·';
    padding-right: 0.25em;

}

ul.about-us__social-media li:first-of-type::before {
    content: '';
    padding-right: 0;
}