.contact_img { 
  width: 100vw; 
  height: 50vh;  
  object-fit: cover;
}

.contact {
  text-align: center;
  padding-top:30px; 

    @media (width > 1200px){
      padding-top: 45px;
    }

  &_title {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    color: $color-header-icons-titles;  
    padding-bottom: 15px;
  }
  &_container {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  &_text {
    color: $color-paragraph;
    font-size: 16px;
    line-height: 24px;
    margin-inline: 15px;
    padding-bottom: 30px;

    @media (width > 768px) {
      margin-inline: 170px;
    }
    @media (width > 1200px) {
      margin-inline: 300px;
    }
  }
  &_fields {
    font-size: 12px;
    color: $color-paragraph;
    padding-bottom: 58px;
  }
}

.span {
  color: $color-headernav;
}

.form {
  @include all-form;
  margin-inline: 15px;
  line-height: 30px;
  
  &_label {
    font-size: 14px;
  }
  & input {
      @include form-commons;
      height: 45px;
      
      @media (width > 768px) {
        width: 442px;
      }
      @media (width > 1200px) {
      width: 601px;
      }
  }
  input::placeholder {
    color: $color-copyright;
  }
  input.form_email::placeholder {
    color: $color-paragraph;
  }
  input.form_button {
    transition: background-color 0.4s ease;
  }
  input.form_button:focus {
        background-color: rgb(136, 6, 6);
  }
  
  textarea::placeholder {
    color: $color-copyright;
  }
  & .form_name {
  
      @media (min-width: 1200px) {
        width: 601px;
    }
  }
  & .form_email {
      font-size: 16px;

      @media (min-width: 1200px) {
        width: 395px;
        margin-right: 40px;
      }
  }
  & .form_phone {
  
    @media (min-width: 1200px) {
      width: 162px;
    }
  }
  & .form_message {
    
    @include form-commons;
      padding-left: 15px;
      padding-top: 11px;
      margin-inline: auto;
      height: 105px;
      
      @media (min-width: 768px) {
        width: 442px;
      }
      @media (min-width: 1200px){
        width: 601px;
      }
  }

  &_colum {
    @media (width > 1200px) {
    display: inline-block;
    }
  }
  & .form_button {
      padding-left: 0px;
      margin-top: 30px;
      margin-bottom: 60px;
      margin-inline-start: auto;
      margin-inline-end: 0px;
      font-size: 16px;
      color: $color-contrast;
      background-color: $color-header-icons-titles;
      border: none;
      border-radius: 4px;
      height: 45px;
      width: 290px;

    @media (min-width: 768px) {
      width: 206px;
    }
    @media (min-width: 1200px) {
      width: 278px;
    }
  }
}


