<section class="about-us" id="about-us">
  <h1 class="about-us__title">Quiénes Somos</h1>

  <div class="about-us__member--left">
    <div class="about-us__container-image">
      <img class="about-us__image" src="/images/francheska.jpeg" alt="avatar" />
    </div>
    <div class="about-us__container-info">
      <h2 class="about-us__name-member">Francheska Contreras</h2>
      <p class="about-us__description">
        Soy Francheska, y antes de convertirme en lo que soy ahora, era técnico de laboratorio en anatomía patológica,
        rodeada de cadáveres todo el día. Luego, ¡zas! Un pequeño accidente de laboratorio y aquí estoy,
        una zombie con ganas de programar. Mamá de dos pequeños monstruos y rescatista de animales vivientes y no tan
        vivientes.
        La vida después de la muerte es toda una aventura.
      </p>
      <nav class="about-us__container-social-media">
        <ul class="about-us__social-media">
          <li>
            <a class="about-us__favicon" href="https://github.com/francheskajcg"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a class="about-us__favicon" href="mailto:apocalipsiscode@gmail.com"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="about-us__member--right">
    <div class="about-us__container-image">
      <img class="about-us__image" src="/images/esther.jpeg" alt="avatar" />
    </div>
    <div class="about-us__container-info">
      <h2 class="about-us__name-member">Esther Bonilla</h2>
      <p class="about-us__description">
        Soy Esther, la zombie pensante. Casada y mamá de dos nenes que revolucionan cada uno de nuestros días.
        ¿Quién hubiera dicho que después de un buen virus mutante tendría tantas ganas de superarme? Soy maestra de
        infantil y primaria,
        aunque actualmente no ejerzo de ello, pero estoy decidida a mejorar en el ámbito laboral y con ello favorecer la
        conciliación familiar.
        Por todo esto me veo inmersa en un curso de programación que dará, con un poco de suerte, un cambio de 360° a mí
        vida.

      </p>
      <nav class="about-us__container-social-media">
        <ul class="about-us__social-media">
          <li>
            <a class="about-us__favicon" href="https://github.com/estherbg85"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a class="about-us__favicon" href="mailto:apocalipsiscode@gmail.com"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="about-us__member--left">
    <div class="about-us__container-image">
      <img class="about-us__image" src="/images/izaskun.jpeg" alt="avatar" />
    </div>
    <div class="about-us__container-info">
      <h2 class="about-us__name-member">Izaskun Monfort</h2>
      <p class="about-us__description">
        Izaskun es mi nombre, y la curiosidad mi segundo apellido. Me dedicaba al arte y a la cultura justo cuando un
        envenenado mordisco me zombificó.
        Mi pasión por devorar cerebros, y su jugoso conocimiento, me ha llevado a explorar el mundo de la programación.
        Es como aprender un nuevo idioma,
        pero en este caso, el idioma de las máquinas. ¡Nunca dejas de aprender, ni siquiera cuando eres un zombie!
      </p>
      <nav class="about-us__container-social-media">
        <ul class="about-us__social-media">
          <li>
            <a class="about-us__favicon" href="https://github.com/16IMA"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a class="about-us__favicon" href="mailto:apocalipsiscode@gmail.com"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="about-us__member--right">
    <div class="about-us__container-image">
      <img class="about-us__image" src="/images/celia.jpeg" alt="avatar" />
    </div>
    <div class="about-us__container-info">
      <h2 class="about-us__name-member">Celia Recio</h2>
      <p class="about-us__description">
        Soy Celia y antes de... bueno, ya sabes, convertirme en zombie, me dedicaba a darle vida a imágenes y películas
        en los territorios de la postproducción cinematográfica y la fotografía.
        Ahora, mi lienzo es el código. Soy como un Frankenstein digital, cosiendo líneas de código para crear monstruos
        digitales. La creatividad es un virus que perdura, incluso después de...
        bueno, ya sabes.
      </p>
      <nav class="about-us__container-social-media">
        <ul class="about-us__social-media">
          <li>
            <a class="about-us__favicon" href="https://github.com/celia-r-revert"><i
                class="fab-brands fa-github"></i></a>
          </li>
          <li>
            <a class="about-us__favicon" href="mailto:apocalipsiscode@gmail.com"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>