<section class="about-us">

  <h1 class="about-us__title">Quiénes Somos</h1>

  <div class="about-us__member">
    <img class="about-us__image" src="/images/avatar.jpeg" alt="avatar">
    <div class="prueba">
      <h2 class="about-us__name-member">Francheska Contreras</h2>
      <p class="about-us__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid
        molestias
        reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea
        optio neque vero. At, veniam suscipit.</p>

      <nav>
        <ul class="about-us__social-media">
          <li href="https://twitter.com/tu_usuario_de_twitter" target="_blank">
            <i class="fab fa-twitter"></i>
          </li>
          <li href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">
            <i class="fab fa-instagram"></i>
          </li>
          <li href="https://github.com/tu_usuario_de_github" target="_blank">
            <i class="fab fa-github"></i>
          </li>
          <li href="mailto:tu_correo@gmail.com">
            <i class="fas fa-envelope"></i>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="about-us__member">
    <img class="about-us__image" src="/images/avatar.jpeg" alt="avatar">
    <h2 class="about-us__name-member">Esther Bonilla</h2>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias
      reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea
      optio neque vero. At, veniam suscipit.</p>

    <nav>
      <ul class="about-us__social-media">
        <li href="https://twitter.com/tu_usuario_de_twitter" target="_blank">
          <i class="fab fa-twitter"></i>
        </li>
        <li href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </li>
        <li href="https://github.com/tu_usuario_de_github" target="_blank">
          <i class="fab fa-github"></i>
        </li>
        <li href="mailto:tu_correo@gmail.com">
          <i class="fas fa-envelope"></i>
        </li>
      </ul>
    </nav>
  </div>


  <div class="about-us__member">
    <img class="about-us__image" src="/images/avatar.jpeg" alt="avatar">
    <h2 class="about-us__name-member">Celia</h2>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias
      reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea
      optio neque vero. At, veniam suscipit.</p>

    <nav>
      <ul class="about-us__social-media">
        <li href="https://twitter.com/tu_usuario_de_twitter" target="_blank">
          <i class="fab fa-twitter"></i>
        </li>
        <li href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </li>
        <li href="https://github.com/tu_usuario_de_github" target="_blank">
          <i class="fab fa-github"></i>
        </li>
        <li href="mailto:tu_correo@gmail.com">
          <i class="fas fa-envelope"></i>
        </li>
      </ul>
    </nav>
  </div>

  <div class="about-us__member">
    <img class="about-us__image" src="/images/avatar.jpeg" alt="avatar">
    <h2 class="about-us__name-member">Izaskun Monfort</h2>
    <p class="membertext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquid molestias
      reiciendis assumenda tempore perferendis aut, nemo cumque architecto numquam distinctio harum laborum ea
      optio neque vero. At, veniam suscipit.</p>

    <nav>
      <ul class="about-us__social-media">
        <li href="https://twitter.com/tu_usuario_de_twitter" target="_blank">
          <i class="fab fa-twitter"></i>
        </li>
        <li href="https://www.instagram.com/tu_usuario_de_instagram" target="_blank">
          <i class="fab fa-instagram"></i>
        </li>
        <li href="https://github.com/tu_usuario_de_github" target="_blank">
          <i class="fab fa-github"></i>
        </li>
        <li href="mailto:tu_correo@gmail.com">
          <i class="fas fa-envelope"></i>
        </li>
      </ul>
    </nav>
  </div>


</section>