<footer class="footer">
  <nav class="footer_nav">
    <ul class="footer_copy">
      <li>Apocalypse Code © 2024</li>
    </ul>
    <ul class="footer_links">
      <li><a class="footer_link" href="./index.html#team">EQUIPO</a></li>
      <li>
        <a class="footer_link" href="./index.html#about-us">QUIÉNES SOMOS</a>
      </li>
      <li><a class="footer_link" href="./form.html">CONTACTO</a></li>
    </ul>
  </nav>
  <img class="footer_logo" src="/images/logo-adalab.png" alt="Logo Adalab" />
</footer>
