<section class="team" id="team">
  <div class="team_description">
    <h1>APOCALYPSE CODE</h1>
    <p>
      Somos cuatro programadoras zombie con un toque creativo y un hambre
      insaciable de código. Entre pañales y debugging, estamos revolucionando
      el mundo digital. Nuestra visión única nos permite crear soluciones
      innovadoras y divertidas. ¡Imagínate una app que te recomiende el mejor
      cerebro para tu desayuno! Con nosotras, el apocalipsis zombie nunca
      volverá a ser lo mismo.
    </p>
  </div>
  <div class="team_decoration--triangle"></div>
</section>
<section class="sw">
  <div class="sw_strengths">
    <h2>Fortalezas</h2>
    <p>
      Este equipo de programadoras zombie presenta una combinación inigualable
      de habilidades. Su creatividad innata, alimentada por una perspectiva
      única del mundo, les permite desarrollar soluciones innovadoras a
      problemas complejos. Además, su condición de no-vidas les confiere una
      paciencia infinita y una inmunidad al estrés que las hace perfectas para
      trabajar bajo presión. Su experiencia y habilidades les permiten manejar
      múltiples tareas de forma eficiente y eficaz.
    </p>
  </div>
  <div class="sw_weaknesses">
    <h2>Debilidades</h2>
    <p>
      A pesar de sus muchas fortalezas, este equipo también enfrenta algunos
      desafíos. Su naturaleza zombie puede llevar a una cierta lentitud en la
      toma de decisiones y una tendencia a distraerse con cosas brillantes o
      ruidos fuertes. Además, su falta de necesidad de dormir podría ocasionar
      problemas de coordinación de horarios con el resto del equipo. Por
      último, su apetito por cerebros podría generar algunas dificultades
      logísticas en la oficina, especialmente durante las reuniones
      importantes.
    </p>
  </div>
</section>