* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import './core/reset.scss';
@import './core/variables.scss';  
@import './layout/_header.scss';
@import './layout/hero.scss';
@import './layout/s-w';
@import './layout/about-us.scss';
@import './layout/footer';


